html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f0f0f0;
  font-size: 16px;
  line-height: 1.5;
}
a {
  cursor: pointer;
  color: #0b5acf;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/* ====== scroll ===== */
/* width */
::-webkit-scrollbar {
  width: 0.8em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* background */
::-webkit-scrollbar-track-piece {
  background: #d37e38b2;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #0b5acf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b5acf;
}
/* main section */
body .logo {
  width: 90%;
  margin: auto;
}
body .logo img {
  width: 100%;
  max-width: 200px;
  max-height: 51px;
  border-radius: 50px;
  margin-left: 50%;
  margin-top: 5px;
  transform: translate(-50%);
}
.wrapper {
  width: 90%;
  margin: auto;
}
/* ===== HOME ==== */
.wrapper .home {
  background: #0b5acf;
  height: calc(100vh - 101px);
  display: grid;
  grid-template: 1fr 20% 30% / 1fr;
}
.wrapper .home .links {
  margin: auto 0;
}
.wrapper .home .links ul {
  display: flex;
  justify-content: space-around;
  height: 60px;
}
.wrapper .home .links ul a {
  line-height: 60px;
  font-size: 2.2rem;
  color: #fff;
}
.wrapper .home .photo-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.wrapper .home .photo-info h1 {
  font-size: 1.8rem;
  color: #fff;
}
.wrapper .home .photo-info p {
  font-size: 0.9rem;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
}
.wrapper .home .paralex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(../img/webb.jpg) center center/cover scroll;
}
.wrapper .home .paralex .btn-explore {
  position: relative;
  color: #000000;
  padding: 20px;
  font-size: 1.2rem;
  top: 20%;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  box-shadow: 0px 0px 15px 0px #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.wrapper .home .paralex .btn-explore:hover {
  background: rgba(255, 255, 255, 0.521);
}
/* ===== END HOME ==== */
/* ===== WROK ==== */

.wrapper .my-Work {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background: url(../img/space-work.jpg) center center/cover scroll;
}
.wrapper .my-Work .work {
  padding: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.068);
  width: 100%;
  height: 100%;
}
.wrapper .my-Work .work img {
  position: absolute;
  top: 120px;
  left: 40%;
  width: 100%;
  max-width: 110px;
  height: 100px;
  /* opacity: 0; */
  transition: 0.7s ease;
}
.wrapper .my-Work .work img[data-scroll="out"] {
  transform: translateY(-120px);
  opacity: 0;
}
.wrapper .my-Work .work img[data-scroll="in"] {
  transform: translateY(0px);
  opacity: 1;
}
.wrapper .my-Work .work h2 {
  position: relative;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  top: 20px;
}
/* ===== END WROK ==== */
/* ===== HIRE ==== */

.wrapper .hire-Me {
  height: 100vh;
  background: #4e0101;
}
/* =====  END HIRE ==== */
/* ===== ABBOUT ==== */

.wrapper .about-Me {
  height: 100vh;
  background: #01324e;
}
/* ===== ABBOUT ==== */

header {
  height: 60px;
  width: 90%;
  margin: auto;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}
header ul li a {
  border-left: 1px solid #d37e38;
  line-height: 60px;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.3s;
}
header ul li a:hover {
  opacity: 0.9;
}
